<!-- start custom footer snippets -->
<div class="page__footer-custom">
  <div class="page__footer-links">
    <a href="mailto:yashjain2005@gmail.com" class="footer-link">
      <i class="fas fa-envelope" aria-hidden="true"></i> Email
    </a>
    <a href="https://www.linkedin.com/in/yashjain-aus" target="_blank" rel="nofollow noopener noreferrer" class="footer-link">
      <i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn
    </a>
    <a href="https://github.com/yashj1579" target="_blank" rel="nofollow noopener noreferrer" class="footer-link">
      <i class="fab fa-github" aria-hidden="true"></i> GitHub
    </a>
  </div>
</div>
<!-- end custom footer snippets -->