{%- assign article_keywords = page.keywords | default: page.tags | join: ', ' -%}
{%- assign article_image = page.header.og_image | default: page.header.image | absolute_url -%}
{%- assign article_modified = page.last_modified_at | default: page.date -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ seo_description | jsonify }},
  "url": {{ canonical_url | jsonify }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ canonical_url | jsonify }}
  },
  "datePublished": {{ page.date | date_to_xmlschema | jsonify }},
  "dateModified": {{ article_modified | date_to_xmlschema | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ site.title | jsonify }},
    "url": {{ '/' | absolute_url | jsonify }}
  },
  "publisher": {
    "@type": "Person",
    "name": {{ site.title | jsonify }},
    "url": {{ '/' | absolute_url | jsonify }}
  }{% if article_image %},
  "image": [{{ article_image | jsonify }}]{% endif %}{% if article_keywords != '' %},
  "keywords": {{ article_keywords | jsonify }}{% endif %}{% if page.tags.size > 0 %},
  "about": [
    {%- for tag in page.tags -%}
    {
      "@type": "Thing",
      "name": {{ tag | jsonify }}
    }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]{% endif %}
}
</script>
